/* puplic style */
a {
    font-family:'Poppins', sans-serif;
    font-weight: 500;
}
:root {
    --bg-dark:#222;
    --bg-primary:#717fe0;
    --bg-danger:#f74877;
    --text-color:#6c7ae0;
    --text-dark:#333;
    --text-secondary:#b2b2b2;
    --text-info:#555;
}
*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
 /* start top-navber  */
.top-navbar {
    background-color: var(--bg-dark);
    color: var(--text-secondary);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
}
.top-navbar p {
    font-size: 12px;
}
.top-navbar .list {
    display: flex;
    gap: 15px;
}
.top-navbar .list .item .link {
    color: var(--text-secondary);
    text-transform: capitalize;
    border-left: 1px solid var(--text-secondary);
    padding:10px  15px;
    display: inline-block;
    font-size: 12px;

}
.top-navbar .list .item:last-child .link {
    border-right: 1px solid var(--text-secondary);
}
.top-navbar span {
    text-transform: uppercase;
}
.navbar .row .nav-left {
    display: flex;
}
/* end top-navbar css */

/* start navbar css */
.navbar {
    padding: 25px 0;
}
.navbar .nav-left{
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.navbar .nav-left .logo{
    width: 20%;
}
.navbar .nav-left .logo img{
    width: 100%;
}

.navbar .nav-left .list{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.navbar .nav-left .list .item .link.active{
    color: var(--bg-primary);
}
.navbar .nav-left .list .item .link{
    text-transform: capitalize;
    color: var(--text-info);
    font-size: 13px;
    font-weight: 500;
    font-family:'Poppins', sans-serif;
    transition: .3s ease-in-out;
    position: relative;


}
.navbar .nav-left .list .item .link:hover{
    color: var(--bg-primary);
}

.navbar .nav-left .list .item:nth-child(3) .link span  {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(60%,-100%);
    color: var(--text-info);
    text-transform: uppercase;
    background-color: var(--bg-danger);
    font-size: 8px;
    border-radius: 5px;
    padding: 2px 4px;
    text-align: center;
    color: #fff;

}
.navbar .nav-right{
   

}
.navbar .nav-right .list{
    display: flex;
    align-items: center;
    gap: 20px;

}
.navbar .nav-right .list .item{
    position: relative;
    cursor: pointer;


}
.navbar .nav-right .list .item i{
    color: var(--text-info);
    font-size: 14;
    transition: .3s ease-in-out;
}
.navbar .nav-right .list .item:hover i {
    color: var(--bg-primary);
}

.navbar .nav-right .list .item span{
    position: absolute;
    top: -8px;
    left: 12px;
    padding: 1px 4px;
    border-radius: 1px;
    font-size: 10px;
    color: #fff;
    background-color: var(--bg-primary);
}


/* end navbar css */

