/* puplic style */

a {
    font-family:'Poppins', sans-serif;
    font-weight: 500;
}
:root {
    --bg-dark:#222;
    --bg-primary:#717fe0;
    --bg-danger:#f74877;
    --bg-primary-hover:rgba(103,117,214,0.9);
    --text-color:#6c7ae0;
    --text-dark:#333;
    --text-secondary:#b2b2b2;
    --text-info:#555;
}
*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.container {
    width: 85%;
    margin: auto;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.btn {
    color: #fff;
    background-color: var(--bg-primary);
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 30px;
    transition: .3s ease-in-out;
    display: inline-block;
}

.btn:hover {
    background-color: var(--bg-dark);
}

 /* start top-navber  */
.top-navbar {
    background-color: var(--bg-dark);
    color: var(--text-secondary);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
}
.top-navbar p {
    font-size: 12px;
}
.top-navbar .list {
    display: flex;
    gap: 15px;
}
.top-navbar .list .item .link {
    color: var(--text-secondary);
    text-transform: capitalize;
    border-left: 1px solid var(--text-secondary);
    padding:10px  15px;
    display: inline-block;
    font-size: 12px;

}
.top-navbar .list .item:last-child .link {
    border-right: 1px solid var(--text-secondary);
}
.top-navbar span {
    text-transform: uppercase;
}
.navbar .row .nav-left {
    display: flex;
}
/* end top-navbar css */

/* start Header css */

.header {
    background-image: url(../assets/xslide-01.jpg.pagespeed.ic.XotvXKn0Mi.webp);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.header .header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header .header-content h1 {
    text-transform: capitalize;
    font-size: 26px;
    font-family:'Poppins', sans-serif;
    font-weight: 400;

}

.header .header-content p {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Playfair Display',sans-serif;
}

/* start navbar css */
.navbar {
    padding: 25px 0;
    position:fixed;
    top: 40px;
    z-index: 99999;
    left: 0px;
    right: 0px;
    transition: .3s ease-in-out;
    border-radius: 0 0 30px 30px;
}
.navbar .nav-left{
    display: flex;
    align-items: center;
    gap: 25px;
    
}
.navbar .nav-left .logo{
    width: 20%;
}
.navbar .nav-left .logo img{
    width: 100%;
}

.navbar .nav-left .list{
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.navbar .nav-left .list .item  {
    position: relative;
}

.navbar .nav-left .list .item .link.active{
    color: var(--bg-primary);
}

.navbar .nav-left .list .item .link
,.navbar .nav-left .list .item .dropdown .dropdown-item .dropdown-link{
    text-transform: capitalize;
    color: var(--text-info);
    font-size: 13px;
    font-weight: 500;
    font-family:'Poppins', sans-serif;
    transition: .3s ease-in-out;
    position: relative;
}

.navbar .nav-left .list .item .link:hover{
    color: var(--bg-primary);
}

.navbar .nav-left .list .item:nth-child(3) .link span  {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(60%,-100%);
    color: var(--text-info);
    text-transform: uppercase;
    background-color: var(--bg-danger);
    font-size: 8px;
    border-radius: 5px;
    padding: 2px 4px;
    text-align: center;
    color: #fff;

}

.navbar .nav-right .list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar .nav-right .list .item{
    position: relative;
    cursor: pointer;
}

.navbar .nav-right .list .item i{
    color: var(--text-info);
    font-size: 14;
    transition: .3s ease-in-out;
}

.navbar .nav-right .list .item:hover i {
    color: var(--bg-primary);
}

.navbar .nav-right .list .item span{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(60%,-70%);
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    line-height: 15px;
    border-radius: 1px;
    font-size: 10px;
    color: #fff;
    background-color: var(--bg-primary);
}

.navbar .nav-left .list .item .dropdown {
    box-shadow: 0px 0px 5px 2px #ccc;
    position: absolute;
    top: 60px;
    left: 0;
    width: 170px;
    line-height: 25px;
    transition: .6s ease-in-out; 
    padding: 10px 20px;   
    text-transform: capitalize;
    opacity: 0;
    visibility: hidden;
}

.navbar .nav-left .list .item:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 30px;

}

.navbar .nav-left .list .item .dropdown  .dropdown-item:hover .dropdown-link {
    color: var(--bg-primary);
}

.btn-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}
#toggle {
    display: none;
}

/* end navbar css */

/* end Header css */

/* start banner css */
.banner {
    margin: 100px 0;
}
.banner .banner-item {
    border: 1px solid var(--text-secondary);
    border-radius: 1px;
    position: relative;
    font-family:'Poppins', sans-serif;

}
.banner .banner-item .banner-content {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;

}
.banner .banner-item .banner-content h3 {
    text-transform: capitalize;
    transition: .4s   ;
    font-size: 28px;
    line-height: 1.1;
    color: var(--text-dark);

}
.banner .banner-item .banner-content p {
    text-transform: capitalize;
    color: var(--text-info);
    transition: .4s  ;
    font-size: 14px;
    line-height: 1.7;


}

.banner .banner-item .banner-img {
    height: 300px;
}
.banner .banner-item .banner-img img {
    width: 100%;
    height: 100%;
}

.banner .banner-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-primary-hover);
    z-index: 0;
    opacity: 0;
    visibility: hidden;

}

.banner .banner-item .overlay a {
    position: absolute;
    bottom: 30px;
    left: 20px;
    overflow: hidden;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.banner .banner-item .overlay a span{
    transform: translateY(40px);
    display: inline-block;
    transition: 1s .2s ease-in-out ;
}
.banner .banner-item:hover .overlay {
   opacity: 1;
   visibility: visible;
}
.banner .banner-item:hover .banner-content h3,
.banner .banner-item:hover .banner-content p {
    color: #fff;
}

.banner .banner-item :hover.overlay a {
    transform: scale(1);
}
.banner .banner-item :hover.overlay a span{
    transform: translateY(0);
}

/* end banner css */


/* start products css  */
.products {
    font-family:'Poppins', sans-serif;

}
.products h2 {
    text-transform: uppercase;
    font-size: 40px;
}
.products .control {
    margin: 15px 0;
}
.products .control .list {
    display: flex;
    align-items: center;
    gap: 15px;
}
.products .control .list .item {
    color: #888;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.products .control .list .item.active {
    text-decoration: underline;
    color: var(--text-dark);
}

.products .control .list .item:hover {
    text-decoration: underline;
    color: var(--text-dark);

}
.products .control .btns {
    display: flex;
    align-items: center;
    gap: 10px;
}
.products .control .btns a {
    text-transform: capitalize;
    font-size: 14px;
    color: #888;
    border: 1px solid var(--text-secondary);
    padding: 5px 10px;
    border-radius: 3px;
    transition: .3s ease-in-out;

}
.products .control .btns a i {
    margin-right: 15px;
}

.products .control .btns a:hover {
    background-color: var(--bg-primary);
    color: #fff;
    border-color: var(--bg-primary);
}
.products .items {
    flex-wrap: wrap;
    margin-top: 70px;

}
.products .items .item {
    width: 23%;
}
.products .items .item  .img {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}
.products .items .item  .img a {
    background-color: #fff;
    color: var(--text-dark);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 5px 10px;
    font-size: 13px;
    transition: .3s ease-in-out;

}
.products .items .item  .img:hover a {
    bottom: 30px;
}
.products .items .item  .img a:hover {
    background-color: var(--bg-dark);
    color: #fff;
}
.products .items .item  .img img {
    width: 100%;

}
.products .items .item .description  {
    font-size: 16px;
    text-transform: capitalize;
    color: #888;
    margin: 5px 0;
    font-family:'Poppins', sans-serif;


}
.products .items .item span  {
    font-size: 13px;
    color: #888;
    font-family:'Poppins', sans-serif;
}

.products .items .item .description p:hover,
.products .items .item i:hover {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--bg-primary);
}
.products .items .item .description i:hover {
    font-weight: 600;
}
.products .load {
    text-align: center;
    margin: 70px 0;
}
.products .load .btn {
    background-color: #e6e6e6;
    color: var(--text-dark);
}
.products .load .btn:hover {
    background-color: var(--bg-dark);
    color: #fff;
}

/* end products css  */
/* start footer css */
footer {
    background-color: var(--bg-dark);
    padding: 30px 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
footer .footer-list {
    display: flex;
}
footer .footer-list .list {
    width: 25%;
}

footer .footer-list .list h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
}
footer .footer-list .list ul .item   {
    padding: 5px 0;
}
footer .footer-list .list ul .item  .link  {
    text-transform: capitalize;

}
footer .footer-list .list ul .item  .link , footer .list .get-info {
    color: var(--text-secondary);
    font-size: 13px;
}

footer .list .get-info .social-media {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    
}
footer .list .get-info .social-media i {
   
    transition: .8s ease-in-out;

}
footer .list .get-info .social-media i:hover {
    color: var(--bg-primary);
}
footer .new .get-info hr {
    margin: 10px 0;
    border-color: rgba(204,204,204,.1);
}
footer .get-info .btn-footer {
    font-size: 15px;
}


footer .get-info .btn-footer:hover {
    background-color: #fff;
    color: var(--bg-primary);
}
footer  .pay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

footer .container .pay img {
    margin: 5px;
}
footer .copyRight {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: var(--text-secondary);
}
footer .copyRight p span {
    color: var(--bg-primary);
    font-size: 16px;
}
/* end footer css */

/* scroll top */
.arrow-top {
    background-color:  #717fe0;;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.arrow-top:hover {
    background-image: linear-gradient(to right,rgba(255,255,255,.2),rgba(255,255,255,.2));
}

.search-overlay {
    background-color: red;
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200000;
    background-color: rgba(255,255,255,.9);
    transition: .5s ease-in-out;
    
}

.search-overlay .close {
    position: relative;
    left: 35%;
    top: -15%;
    color: #333;
    font-size: 40px;

}
.search-overlay form {
    position: relative;

}
.search-overlay form input {
    width: 960px;
    max-width: 100%;
    height: 80px;
    border: 2px solid #e6e6e6;
    background: #fff;
 color: var(--text-secondary);
 padding:  0 70px;
 font-size: 50px;


}
.search-overlay form i {
    position: absolute;
    left: 15px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* padding-top: 5px; */
    bottom: 0;
    font-size: 40px;
    color: var(--text-info);

}


